asgiref==3.5.2
attrs==22.1.0
django==4.1.4
django-environ==0.9.0
djangorestframework==3.14.0
drf-spectacular==0.25.1
inflection==0.5.1
jsonschema==4.17.3
psycopg2-binary==2.9.5
pyrsistent==0.19.2
pytz==2022.7
pyyaml==6.0
sqlparse==0.4.3
tzdata==2022.7
uritemplate==4.1.1
